/*=======================
STYLES / LAYOUT
=======================*/

* {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #1d1d1d;
  font-weight: 100;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;;
  flex-direction: column;
  position: relative;
  border: 20px solid #FFF;
}

.lex-luger {
  background-image: url('../img/Lex-Luger-car.jpg');
}

.mike-will {
  background-image: url('../img/mikewill.jpg');
}

.metro-boomin {
  background-image: url('../img/metro-boomin.jpg');
}

.splash {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.4;
  z-index: 1;
}

.flex-width {
  max-width: 1200px;
  width: 80%;
}

header {
  text-align: center;
  z-index: 2;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  z-index: 2;
}

h1 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: 15px;
}

kbd {
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 4rem;
}

span {
  font-family: 'Nunito Sans', sans-serif;
}

.keys {
  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.key {
  border: 2px solid #1d1d1d;
  border-radius: 4px;
  height: 7rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.05s;
}

.pressed {
  transform: scale(1.1);
  border-color: #FFF;
}
